html, body {
    height:100%;
}

body{
  padding: 0px;
  margin: 0px;
}

/************
  COVER
*************/

.cover{
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0px;
  z-index: 1;
}

.cover img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 5;
}

.cover .tinted{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
}

.title{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  z-index: 7;
}

.cover-section{
  position: relative;
  display: table;
  width: 100%;
  height: 50%;
  overflow: hidden;
  top: 0px;
  z-index: 1;
}

/************
  MENU
*************/
.header{
  position: fixed;
  /*background: rgba(255, 255, 255, 1);*/
  /*background-image: url('./img/photos.bg');*/
  /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);*/
  width: 100%;
  height: 50px;
  z-index: 10;
  top: 0px;
  -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.blind{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 6;
}

.side-menu{
  position: fixed;
  left: -400px;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.4);
  z-index: 7;
}

.side-menu ul{
  margin-top: 100px;
  list-style-type: none;
  font-size: 18px;
  color: #f00;
}

.side-menu li{
  padding: 15px 0px 15px 10px;
}

.side-menu a:link{
  color: #f00;
  text-decoration: none;
}

.side-menu a:visited{
  color: #f00;
}

.burger{
  background: #B9812B;
  color: white;
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100%;
  display: table;
}

.burger:hover{
  opacity: 0.9;
}

.burger-button{
  display: table-cell;
  vertical-align: middle;
}

.logo{
  display: table;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 250px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px !important;
}

.logo-item{
  display: table-cell;
  vertical-align: middle;
  width: 50%
}

.logo-item img{
  height: 48px;
}

.menu{
  display: table;
  position: absolute;
  right: 40px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  font-weight: 300;
}

.menu ul{
  padding: 0px;
  margin-top: 0px;
}

.menu li{
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}

.menu a:link{
  text-decoration: none;
  color: #C3C3C3;
}

.menu a:visited{
  color: #C3C3C3;
}

.m-item{
  display: table-cell;
  color: #b9812b;
  font-size: 18px;
  vertical-align: middle;
  padding: 0px 15px 0px 15px;
}

.m-item:hover{
  border-bottom: 4px solid #3694E2;
}


/************
  ROWS
*************/

.row{
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  overflow-x: hidden;
}

/************
  CELLS
*************/

.cell{
  display: inline-block;
  vertical-align: top;
}

/************
  SPACES
*************/

.pad-10{
  padding: 10px;
}

.pad-30{
  padding: 30px;
}

.pad-50{
  padding: 50px;
}

.mar-10{
  margin: 10px;
}

.mar-30{
  margin: 30px;
}

.mar-50{
  margin: 50px;
}

.mids{
  color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 50%;
}

.thirds{
  color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 33.33%;
}

.mids:hover{
  background-position: 0px -5px;
}

label{
  display: block;
  margin-top: 20px;
}

.text-input{
  width: 100%;
  padding: 5px;
  background: none;
  border: 2px solid gray;
  font-size: 15px;
  color: #F2F2F2;
}

.text-input:focus{
  border-color: #2AE877;
}

.select{
  width: 100%;
  padding: 5px;
  font-size: 15px;
}
